<div class="education-container">
    <section class="academic-degrees text-center">
        <h2>Education</h2>
        <div class="degree-item">
            <h3>{{educationText.unc.degree}}</h3>
            <p>{{educationText.unc.universityName}}</p>
            <p>{{educationText.unc.graduationYear}}</p>
        </div>
        <div class="degree-item">
            <h3>{{educationText.chhs.degree}}</h3>
            <p>{{educationText.chhs.universityName}}</p>
            <p>{{educationText.chhs.graduationYear}}</p>
        </div>
    </section>
    
    <section class="relevant-coursework">
        <h2>Relevant Coursework</h2>
        <div class="coursework-columns">
            <div class="main-coursework">
                <h3>Main Coursework</h3>
                <ul>
                    <li *ngFor="let course of educationText.unc.coursework.cs">{{course}}</li>
                </ul>
            </div>
            <div class="other-coursework">
                <h3>Other Major-Based Coursework</h3>
                <ul>
                    <li *ngFor="let course of educationText.unc.coursework.math">{{course}}</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="study-abroad">
        <h2>Study Abroad</h2>
        <div class="program-item">
            <h3>{{educationText.unc.studyAboard.programName}}</h3>
            <p>{{educationText.unc.studyAboard.date}}</p>
            <p>{{educationText.unc.studyAboard.course}}</p>
        </div>
    </section>
    
    <section class="certifications">
        <h2>Certifications</h2>
        <ul *ngFor="let certificate of educationText.unc.certifications">
          <h4>{{ certificate.title }}</h4>  
          <li>{{ certificate.description }}</li>
        </ul>
    </section>
    
    <section class="extracurricular">
        <h2>Extracurricular Activities</h2>
        <div class="quadrants-container">
            <div *ngFor="let extra of educationText.unc.extracurriculars" class="quadrant">
              <h3>{{extra.title}}</h3>
              <p>{{extra.description}}</p>
            </div>
          </div>
    </section>
</div>