<div class="teaching-container">
    <div class="row justify-center">
      <h2 class="mb-5 text-center">Teaching Experience</h2>
    </div>
  
    <div class="row justify-center mb-4">
      <div class="col">
        <img src="./assets/images/FredBrooks.jpg" class="rounded img-responsive center-block d-block mx-auto" alt={{teachingText.photoCaptions.fredBrooks.title}} title={{teachingText.photoCaptions.fredBrooks.title}} style="max-height: 300px; max-width: 500px;" />
        <p class="text-center">{{teachingText.photoCaptions.fredBrooks.caption}}</p>
      </div>
    </div>
  
    <div class="row justify-center mb-5">
      <div class="row mx-3">
        <h6 class="text-center">
          {{teachingText.title}}
        </h6>
      </div>
    </div>
  
    <div class="row justify-around mb-3">
      <div class="col-lg-4 col-md-12 mb-3" *ngFor="let class of teachingText.classes">
        <h4 class="text-center">{{class.title}}</h4>
        <p class="text-center"><small>{{class.time}}</small></p>
        <p class="text-center" *ngFor="let description of class.description">{{description}}</p>
      </div>
  
    <div class="row justify-around mb-5">
      <h6 class="text-center mb-3">{{teachingText.feedback.title}}</h6>
      <ul class="list-group">
        <li class="list-group-item text-center" *ngFor="let feedback of teachingText.feedback.feedback">"{{feedback}}</li>
      </ul>
    </div>
  
    <div class="row justify-center mb-4">
      <div class="col">
        <img src="./assets/images/OpenHouse.jpg" class="rounded img-responsive center-block d-block mx-auto" alt={{teachingText.photoCaptions.openHouse.title}} title={{teachingText.photoCaptions.openHouse.title}} style="max-height: 500px; max-width: 500px;" />
      </div>
      <div class="col-lg-6 col-md-12">
        <p class="text-center mx-5">{{teachingText.photoCaptions.openHouse.caption}}</p>
      </div>
    </div>
  </div>