<div class="work-container container">
    <div class="row justify-content-center mb-4">
        <h2 class="text-center">Enterprise Work Experience</h2>
    </div>

    <div class="row justify-center mb-4">
        <div class="col">
          <img src={{workText.photos.oldTeamHomer.path}} class="rounded img-responsive center-block d-block mx-auto" alt={{workText.photos.oldTeamHomer.title}} title={{workText.photos.oldTeamHomer.title}} style="max-height: 300px; max-width: 800px;" />
          <p class="text-center">{{workText.photos.oldTeamHomer.caption}}</p>
        </div>
      </div>
</div>