<nav>
  <ul>
    <li><a routerLink="/" href="/">Home</a></li>
    <li><a routerLink="/education" href="/education">Education</a></li>
    <li><a routerLink="/teaching" href="/teaching">Teaching Experience</a></li>
    <li><a routerLink="/research" href="/research">Research Experience</a></li>
    <li><a routerLink="/work" href="/work">Enterprise Experience</a></li>
    <li><a routerLink="/feedback" href="/feedback">Enterprise Feedback</a></li>
  </ul>
</nav>

<main class="main">
  <div class="content">
    <router-outlet />
  </div>
</main>

